<form class="example-form">
  <div style="width: 30%;">
    <mat-form-field class="" appearance="fill">
      <mat-label>{{getLabelText()}}</mat-label>
      <input id={{role}} type="text"
             placeholder="Champ name?"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
          <img src="{{getDropdownImage(option)}}">
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <label *ngIf="showLabel" style="float: right">
      {{getWholeRoleName(role)}}
    </label>
  </div>
</form>
