<app-champ-input-field #top [role]="Roles.Top"></app-champ-input-field>
<app-champ-input-field #jg [role]="Roles.Jg"></app-champ-input-field>
<app-champ-input-field #mid [role]="Roles.Mid"></app-champ-input-field>
<app-champ-input-field #bot [role]="Roles.Bot"></app-champ-input-field>
<app-champ-input-field #sup [role]="Roles.Sup"></app-champ-input-field>


<button id="getCountersButton">
    Get Best Counters
</button>
<button id="toggleRoleButton">
Consider Champ Roles?
</button>

<div *ngIf="counters.length > 0">
    <h2>Counters:</h2>
    <br>
    <ul>
        <li *ngFor="let item of counters">
            <div class="counter-option-style">
                <b style="font-size: 30px;">{{item}}</b>
                <img src="{{getChampImageUrl(item)}}">
            </div>
        </li>
    </ul>
</div>