<p>champ-input-area works!</p>



<app-champ-input-field #top [role]="Roles.Top"></app-champ-input-field>
<app-champ-input-field #jg [role]="Roles.Jg"></app-champ-input-field>
<app-champ-input-field #mid [role]="Roles.Mid"></app-champ-input-field>
<app-champ-input-field #bot [role]="Roles.Bot"></app-champ-input-field>
<app-champ-input-field #sup [role]="Roles.Sup"></app-champ-input-field>


<button id="getCountersButton">
    Get counters?
</button>
<button id="toggleRoleButton">
Consider Champ Roles?
</button>

<h2>Counters:</h2>
<br>
<ul>
    <li *ngFor="let item of counters">{{item}}</li>
</ul>